In [1]:
import mysql.connector
import pandas as pd

In [4]:
# connect to MySQL server
serverconnection = mysql.connector.connect(user = "root", password = "MSwP12ch!", host = "localhost", database = "nflplayerstats")
print("Server connection successful")

Server connection successful

In [3]:
# create database to hold NFL player stats
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error:
        print("There was an error")

create_database_query = "CREATE DATABASE nflplayerstats"
create_database(serverconnection, create_database_query)

Database created successfully
Database created successfully

In [5]:
# function for executing SQL queries
def execute_query(connection, query):
    cursor = connection.cursor()
    cursor.execute(query)
    connection.commit()
    print("Query successful")

In [6]:
# create table named 'Team'
create_team_table = """
CREATE TABLE Team
(
  TeamID INT NOT NULL,
  TeamName VARCHAR(50) NOT NULL,
  Division VARCHAR(50) NOT NULL,
  DivisionRank INT NOT NULL,
  TotalWins INT NOT NULL,
  OLineRank INT NOT NULL,
  DLineRank INT NOT NULL,
  PRIMARY KEY (TeamID)
);
"""
connection = mysql.connector.connect(user = "root", password = "MSwP12ch!", host = "localhost", database = "nflplayerstats")
execute_query(connection, create_team_table)

Query successful

In [8]:
# create table named 'Player'
create_player_table = """
CREATE TABLE Player
(
  ReferenceID INT NOT NULL,
  PlayerName VARCHAR(150) NOT NULL,
  Position VARCHAR(50) NOT NULL,
  TotalYards INT NOT NULL,
  Touchdowns INT NOT NULL,
  TeamID INT NOT NULL,
  PRIMARY KEY (ReferenceID),
  FOREIGN KEY (TeamID) REFERENCES Team(TeamID)
);
"""
connection = mysql.connector.connect(user = "root", password = "MSwP12ch!", host = "localhost", database = "nflplayerstats")
execute_query(connection, create_player_table)

Query successful

In [9]:
# inserting data into 'team' table regarding the 2021 NFL season
populate_team = """
INSERT INTO team VALUES
(1, 'NYG', 'NFCEAST', 4, 4, 30, 23),
(2, 'KCC', 'AFCWEST', 1, 12, 5, 8),
(3, 'TBB', 'NFCSOUTH', 1, 13, 2, 5);
"""
connection = mysql.connector.connect(user = "root", password = "MSwP12ch!", host = "localhost", database = "nflplayerstats")
execute_query(connection, populate_team)

Query successful

In [13]:
# inserting data into 'player' table, also regarding the 2021 NFL season
populate_player = """
INSERT INTO player VALUES
(8, 'Daniel Jones', 'QB', 2428, 10, 1),
(26, 'Saquon Barkley', 'RB', 263, 2, 1),
(15, 'Patrick Mahomes', 'QB', 4839, 37, 2),
(25, 'Clyde Edwards-Helaire', 'RB', 129, 2, 2),
(12, 'Tom Brady', 'QB', 5316, 43, 3),
(7, 'Leonard Fournette', 'RB', 454, 2, 3);
"""
connection = mysql.connector.connect(user = "root", password = "MSwP12ch!", host = "localhost", database = "nflplayerstats")
execute_query(connection, populate_player)

Query successful

In [17]:
# function for reading results of query
def show_query_results(connection, query):
    cursor = connection.cursor()
    result = None
    cursor.execute(query)
    result = cursor.fetchall()
    return result

# query for analyzing data regarding total passing yards
# & touchdown passes for quarterbacks, 
# and how it correlates to offensive line rankings
q1 = """
SELECT playername
,totalyards
,touchdowns
,olinerank
FROM player INNER JOIN team ON
player.teamid = team.teamid
WHERE player.position = 'QB'
ORDER BY totalyards DESC;
"""
connection = mysql.connector.connect(user = "root", password = "MSwP12ch!", host = "localhost", database = "nflplayerstats")
results = show_query_results(connection, q1)

for entry in results:
    print(entry)

('Tom Brady', 5316, 43, 2)
('Patrick Mahomes', 4839, 37, 5)
('Daniel Jones', 2428, 10, 30)

In [15]:
# query for analyzing data regarding total rushing yards
# for running backs
# and how it correlates to offensive line rankings
q2 = """
SELECT playername
,totalyards
,olinerank
FROM player INNER JOIN team ON
player.teamid = team.teamid
WHERE player.position = 'RB'
ORDER BY totalyards DESC;
"""
connection = mysql.connector.connect(user = "root", password = "MSwP12ch!", host = "localhost", database = "nflplayerstats")
show_query_results(connection, q2)

[('Leonard Fournette', 454, 2),
 ('Saquon Barkley', 263, 30),
 ('Clyde Edwards-Helaire', 129, 5)]

In [18]:
# create and display a Pandas Dataframe
# by using a list
pandalist = []

for entry in results:
    result = list(entry)
    pandalist.append(result)

columnnames = ["playername", "totalyards", "touchdowns", "olinerank"]
df = pd.DataFrame(pandalist, columns = columnnames)

display(df)

        playername  totalyards  touchdowns  olinerank
0        Tom Brady        5316          43          2
1  Patrick Mahomes        4839          37          5
2     Daniel Jones        2428          10         30